@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";
#generalKanus {
  width: 100%;
  height: 90vh;
  background: url("../img/rodesian--verde.jpg") top center;
  background-size: cover;
  margin-bottom: -10px;
}

.container {
  position: relative;
  margin: 0% 2% 0% 2%;
}

.tituloKanus {
  padding: 15% 0% 0.3% 0%;
  font-size: 3.2vw;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(56, 55, 55);
  font-family: "Roboto", sans-serif;
}

.mensajeKanus {
  color: rgb(78, 78, 78);
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  font-size: 3.2vw;
  font-family: "Roboto", sans-serif;
}

.parrafoIntro {
  color: rgb(78, 78, 78);
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin: 2% 50% 3% 3%;
  padding-bottom: 3%;
  font-size: 1.5vw;
}

@media (min-width: 1024px) {
  #generalKanus {
    background-attachment: fixed;
  }
}
/*TABLET*/
/*********/
@media (min-width: 766px) and (max-width: 1024px) {
  #generalKanus {
    width: 100%;
    height: 90vh;
    background: url("../img/rodesian--verde--parado-tablet.jpg") top center;
    background-size: cover;
    margin-bottom: -10px;
  }
  .tituloKanus {
    padding: 15% 0% 0.3% 0%;
    font-size: 280%;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(56, 55, 55);
    font-family: "Roboto", sans-serif;
  }
  .mensajeKanus {
    color: rgb(78, 78, 78);
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    font-size: 230%;
    font-family: "Roboto", sans-serif;
  }
  .parrafoIntro {
    color: rgb(78, 78, 78);
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin: 2% 15% 3% 3%;
    padding-bottom: 3%;
    font-size: 170%;
  }
}
/*SMARTPHONE*/
/***********/
@media (max-width: 766px) {
  #generalKanus {
    height: 100%;
    width: auto;
    background: url("../img/rodesian--verde--parado.jpg") top center;
    background-size: cover;
    margin-bottom: -15px;
  }
  .tituloKanus {
    padding: 2% 0% 0% 0%;
    font-size: 150%;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(56, 55, 55);
    font-family: "Roboto", sans-serif;
  }
  .mensajeKanus {
    color: rgb(78, 78, 78);
    padding: 0% 0% 80% 0%;
    margin: 0% 0% 0% 0%;
    font-size: 125%;
    font-family: "Roboto", sans-serif;
  }
  .parrafoIntro {
    display: none;
  }
}
.introPhone {
  display: none;
}

@media only screen and (max-width: 766px) {
  .introPhone {
    display: block;
    color: rgb(78, 78, 78);
    font-family: "Roboto", sans-serif;
    text-align: justify;
    padding: 10% 4% 2% 4%;
    font-size: 80%;
  }
}
.fa-brands {
  font-size: 65px;
  --ionicon-stroke-width: 35px;
  color: rgb(168, 235, 81);
}

.buttonWhatsApp {
  width: 70px;
  position: fixed;
  bottom: 60px;
  right: 15px;
}

.tituloServiciosHome {
  margin: 5% 0% 0% 5%;
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  font-weight: 900;
}

/* header */
/* nav bar */
/*****************/
.navbarHeader {
  display: flex;
  justify-content: space-between;
}

.logokanusPrincipal {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: auto;
}

.navbarleft {
  display: flex;
  text-align: right;
}

.listaNav {
  display: flex;
  list-style-type: none;
  position: relative;
}

.navbar {
  padding: 8px;
  padding-left: 20px;
  margin-right: 15px;
}

.navbarDes {
  color: rgb(134, 134, 134);
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* iconos Navbar */
/*****************/
.fa-solid {
  color: rgb(134, 134, 134);
  font-size: 160%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.fa-solid:hover {
  color: rgb(56, 55, 55);
}

.fa-cart-shopping {
  margin-right: 15px;
}

.fa-user-doctor {
  margin-right: 15px;
}

.fa-user-group {
  margin-right: 10px;
}

/* FOOTER*/
/*********/
.fotterPrincipal {
  background-color: rgb(56, 56, 56);
  font-family: "Roboto", sans-serif;
  color: rgb(177, 174, 174);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2% 1% 2% 1%;
}

.lifooter {
  list-style-type: none;
  margin-right: 15%;
  margin-bottom: 1%;
}

.lifooterHorario {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bold;
}

.lifooterInsta {
  list-style-type: none;
  margin-right: 15%;
  margin-bottom: 1%;
}

.lifotterfacebook {
  list-style-type: none;
  margin-right: 30px;
}

.lifootermensaje {
  list-style-type: none;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  color: rgb(247, 244, 244);
  font-size: 1.5em;
}

i {
  font-size: 130%;
  color: rgb(224, 224, 224);
  margin-top: 15%;
  margin-bottom: 1%;
}

/*SOLO SMARTPHONE - TABLET*/
/*****************/
@media (max-width: 767px) {
  i {
    color: rgb(224, 224, 224);
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .googlemapsImg {
    scale: 90%;
  }
}
/********************************/
.fa-instagram {
  color: rgb(168, 235, 81);
  font-size: 270%;
  cursor: pointer;
  margin-top: 5%;
}
.fa-instagram:hover {
  color: rgb(177, 174, 174);
}

.fa-facebook {
  color: rgb(168, 235, 81);
  font-size: 270%;
  cursor: pointer;
  margin-top: 5%;
}
.fa-facebook:hover {
  color: rgb(177, 174, 174);
}

.whatsappFooter {
  color: rgb(168, 235, 81);
  font-size: 270%;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 0%;
}
.whatsappFooter:hover {
  color: rgb(177, 174, 174);
}

.footerPrincipal2 {
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
}

.listafooterPrincipal2 {
  display: flex;
}

.googlemapsResponsive {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
}
.googlemapsResponsive iframe {
  left: 0.5%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*COMPRAS*/
/*********/
.comprasimg {
  align-content: center;
  padding: 25px 150px 25px 150px;
}

.card-img-top {
  width: 20%;
  height: auto;
}

.cardProducto {
  text-align: center;
  align-items: center;
  margin-top: 3%;
}

.carritoCompras {
  color: rgb(223, 224, 226);
  scale: 80%;
  padding: 0;
  margin: 0;
}
.carritoCompras:hover {
  color: rgb(223, 224, 226);
}

.footerCompras {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.card-title {
  color: rgb(48, 47, 47);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

input {
  font-family: "Roboto", sans-serif;
}

.tituloShop {
  margin: 0% 0% 3% 5%;
  font-family: "Roboto", sans-serif;
}

.input-group {
  margin: 0% 0% 0% 5%;
}

/*NUESTRA CLINICA*/
/*****************/
.nuestraClinica {
  color: rgb(78, 78, 78);
  margin: 2% 0% 0% 5%;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: rgb(78, 78, 78);
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
}

.textoClinica {
  font-size: 125%;
  color: rgb(134, 134, 134);
  text-align: justify;
  line-height: 1.7;
}

.equipodetrabajo {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

.fotonombre {
  display: flex;
}

.nuestraclinicah2 {
  margin-bottom: 10px;
}

.taniachowchow {
  border-radius: 7px;
  scale: 100%;
}

.pilarbulldog {
  border-radius: 7px;
  scale: 100%;
}

.textoClinicaPhone {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  margin: 1% 1% 3% 1%;
  text-align: justify;
}

@media (max-width: 766px) {
  .textoClinica {
    display: none;
  }
  .textoEquipo {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    text-align: justify;
    font-size: 120%;
    margin: 3% 3% 5% 2%;
  }
  .tituloEquipo {
    margin: 5% 0% 3% 3%;
    font-size: 145%;
  }
  .tituloFotos {
    margin-top: 9%;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 47, 47);
    font-size: 145%;
    margin-bottom: 5%;
  }
  .enunciadoFotos {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    font-size: 120%;
    margin: 1% 0% 5% 0%;
    text-align: justify;
  }
  .contenedorEquipo {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
}
@media (min-width: 766px) and (max-width: 1024px) {
  .textoClinica {
    font-size: 125%;
    color: rgb(134, 134, 134);
    text-align: justify;
    line-height: 1.5;
  }
  .imagenClinica {
    content: url(../img/kanus--frente--tablet.jpg);
  }
  .imagenClinica2 {
    content: url(../img/kanus--frente--2---tablet.jpg);
  }
  .tituloFotos {
    margin-top: 7%;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 47, 47);
    font-size: 180%;
    margin-bottom: 5%;
  }
  .enunciadoFotos {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    font-size: 150%;
    margin: 2% 0% 2% 0%;
    text-align: justify;
  }
  .tituloEquipo {
    margin: 2% 0% 3% 7%;
    font-size: 180%;
  }
  .textoEquipo {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    text-align: justify;
    font-size: 150%;
    margin: 2% 0% 2% 7%;
  }
  .contenedorEquipo {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-left: 15%;
  }
}
@media (min-width: 767px) {
  .textoClinicaPhone {
    display: none;
  }
}
/* GALERIA DE FOTOS*/
/*******************/
.galeriaFotos .galeriaFotos-item {
  margin-bottom: 3%;
}
.galeriaFotos .galeriaFotos-wrap {
  transition: 0.3s;
  position: relative;
  z-index: 1;
  background: rgb(255, 255, 255);
}
.galeriaFotos .galeriaFotos-wrap::before {
  content: "";
  background: rgb(231, 229, 229);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.galeriaFotos .galeriaFotos-wrap .galeriaFotos-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeriaFotos .galeriaFotos-wrap .galeriaFotos-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgb(170, 165, 165);
  border-left: 3px solid rgb(170, 165, 165);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.galeriaFotos .galeriaFotos-wrap .galeriaFotos-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgb(170, 165, 165);
  border-right: 3px solid rgb(170, 165, 165);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.galeriaFotos .galeriaFotos-wrap .galeriaFotos-info .nombreAnimal {
  font-size: 2%;
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.galeriaFotos .galeriaFotos-wrap .galeriaFotos-info p {
  color: rgb(134, 134, 134);
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.galeriaFotos .galeriaFotos-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
.galeriaFotos .galeriaFotos-wrap:hover .galeriaFotos-info {
  opacity: 0.8;
}
.galeriaFotos .galeriaFotos-wrap:hover .galeriaFotos-info::before {
  top: 15px;
  left: 15px;
}
.galeriaFotos .galeriaFotos-wrap:hover .galeriaFotos-info::after {
  bottom: 15px;
  right: 15px;
}
.galeriaFotos .galeriaFotos-details {
  padding-top: 40px;
}
.galeriaFotos .galeriaFotos-details .galeriaFotos-details-slider img {
  width: 100%;
  height: auto;
}
.galeriaFotos .galeriaFotos-details .galeriaFotos-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.galeriaFotos .galeriaFotos-details .galeriaFotos-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  border: 1px solid rgb(134, 134, 134);
}
.galeriaFotos .galeriaFotos-details .galeriaFotos-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(56, 56, 56);
}

@media (min-width: 1024px) {
  .tituloFotos {
    font-family: "Roboto", sans-serif;
    color: rgb(48, 47, 47);
    font-size: 150%;
    margin: 5% 0% 2% 1%;
  }
  .enunciadoFotos {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    font-size: 120%;
    margin: 2% 0% 2% 1%;
    text-align: justify;
  }
}
/*NUESTRO EQUIPO DE TRABAJO */
/****************************/
@media (min-width: 1024px) {
  .tituloEquipo {
    margin: 5% 1% 3% 4%;
    font-size: 150%;
  }
  .textoEquipo {
    font-family: "Roboto", sans-serif;
    color: rgb(134, 134, 134);
    text-align: justify;
    font-size: 120%;
    margin: 2% 3% 3% 4%;
  }
}
.services .img {
  border-radius: 8px;
  overflow: hidden;
}

.services .img img {
  transition: 0.6s;
}

@media (min-width: 1024px) {
  .contenedorEquipo {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-left: 10%;
  }
}
.services .details {
  padding: 20px 30px;
  margin: -40px 30px 0 30px;
  background: rgb(247, 246, 246);
  position: relative;
  background: rgb(247, 246, 246);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgb(78, 78, 78);
}

.services .details h3 {
  color: grey;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  margin: 1px 0 1px 0;
  font-size: 115%;
}

.services .details p {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 0;
  color: rgb(78, 78, 78);
  font-family: "Roboto", sans-serif;
}

.services .service-item:hover .details h3 {
  color: rgb(56, 55, 55);
}

.services .service-item:hover .details i {
  color: rgb(56, 55, 55);
}

.services .service-item:hover .img img {
  transform: scale(1.1);
}

/* SERVICIOS*/
/************/
.tituloServicios {
  margin: 1% 0% 3% 5%;
  font-family: "Roboto", sans-serif;
}

.servicios {
  margin-left: 3%;
  margin-right: 3%;
  color: rgb(78, 78, 78);
  font-family: "Roboto", sans-serif;
  font-size: 120%;
}

.serviciosH2 {
  font-weight: bolder;
  margin-top: 1%;
  margin-left: 7%;
}

.rx {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.eco {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.analisis {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.guarderia {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.textoServicios {
  font-size: 95%;
  margin: 1% 5% 2% 5%;
  text-align: justify;
  color: rgb(56, 55, 55);
  font-weight: 600;
}

.agendarCita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconosServicios {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin: 1%;
}

.iconosServicios:hover {
  cursor: pointer;
  filter: grayscale(80%);
  transition: all 0.5s;
}

.todosServicios {
  margin-left: 10%;
  align-items: center;
  margin-bottom: 5%;
}

.contenedorImagen {
  position: relative;
  display: inline-block;
}

.contenedorServicios {
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
  color: rgb(56, 55, 55);
  padding: 2%;
}

.contenedorServicios2 {
  top: 50%;
  left: 50%;
  transform: translate(-65%, -65%);
  color: rgb(56, 55, 55);
  padding: 2%;
}

.fa-arrow-up {
  font-size: 100%;
  color: rgb(48, 47, 47);
}

#rx {
  background-color: rgb(214, 212, 212);
  border-radius: 5px;
  margin-bottom: 5%;
}

#eco {
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  margin-bottom: 5%;
}

#analisis {
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  margin-bottom: 5%;
}

#guarderia {
  background-color: rgb(214, 212, 212);
  border-radius: 5px;
  margin-bottom: 5%;
}

/*CONTACTO*/
/**********/
.form {
  font-size: large;
}

.formh1 {
  text-align: center;
  margin-top: 2%;
}

.form-control {
  background-color: rgb(231, 229, 229);
}

.btn {
  background-color: rgb(56, 56, 56);
  border: none;
  color: white;
}
.btn:hover {
  background-color: rgb(3, 3, 3);
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.btn:active {
  transform: translateY(3px);
}

.control:focus {
  height: 60px;
  font-size: large;
}

#h2form {
  text-align: center;
}

/*BLOG*/
/******/
.imagenBlog {
  width: 100%;
  height: auto;
}

.contenedorBlog {
  border: none;
}

.segundoBloque {
  display: flex;
  justify-content: center;
}

.tituloBlog {
  margin: 0% 0% 0% 5%;
  font-family: "Roboto", sans-serif;
}

.lead {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
