@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"; /* MAIN*/
/*******/
h1 {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
  margin-left: 7%;
}

form {
  color: grey;
  font-family: "Roboto", sans-serif;
}

.buttonWhatsApp {
  width: 70px;
  position: fixed;
  bottom: 60px;
  right: 15px;
}

.fa-brands {
  font-size: 65px;
  --ionicon-stroke-width: 35px;
  color: rgb(168, 235, 81);
}

.parrafoIntro {
  color: rgb(170, 165, 165);
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

/* CAROUSEL*/
/***********/
.cauroselImg {
  width: 95%;
  height: auto;
  object-fit: cover;
}

.pCarouselTitulo {
  font-size: large;
  color: rgb(247, 246, 246);
  text-align: center;
}

.pCarousel {
  color: rgb(255, 255, 255);
  text-align: center;
}

/* header */
/* nav bar */
/*****************/
.navbarHeader {
  display: flex;
  justify-content: space-between;
}

.logokanusPrincipal {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: auto;
}

.navbarleft {
  display: flex;
  text-align: right;
}

.listaNav {
  display: flex;
  list-style-type: none;
  position: relative;
}

.navbar {
  padding: 8px;
  padding-left: 20px;
  margin-right: 15px;
}

.navbarDes {
  color: rgb(134, 134, 134);
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* iconos Navbar */
/*****************/
.fa-solid {
  color: rgb(134, 134, 134);
  font-size: 160%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.fa-solid:hover {
  color: rgb(56, 55, 55);
}

.fa-cart-shopping {
  margin-right: 15px;
}

.fa-user-doctor {
  margin-right: 15px;
}

.fa-user-group {
  margin-right: 10px;
}

/* FOOTER*/
/*********/
.fotterPrincipal {
  background-color: rgb(56, 56, 56);
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  color: rgb(177, 174, 174);
  text-align: center;
  align-items: center;
}

.lifooter {
  list-style-type: none;
  margin-right: 30px;
}

.lifooterHorario {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bold;
}

.lifooterInsta {
  list-style-type: none;
  margin-right: 30px;
}

.lifotterfacebook {
  list-style-type: none;
  margin-right: 30px;
}

.lifootermensaje {
  list-style-type: none;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  color: rgb(247, 244, 244);
  font-size: 1.5em;
}

i {
  color: rgb(224, 224, 224);
  margin-top: 10%;
}

.fa-instagram {
  color: rgb(168, 235, 81);
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
}
.fa-instagram:hover {
  color: rgb(177, 174, 174);
}

.fa-facebook {
  color: rgb(168, 235, 81);
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
}
.fa-facebook:hover {
  color: rgb(177, 174, 174);
}

.whatsappFooter {
  color: rgb(168, 235, 81);
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
}
.whatsappFooter:hover {
  color: rgb(177, 174, 174);
}

.footerPrincipal2 {
  background-color: rgb(44, 44, 44);
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.listafooterPrincipal2 {
  display: flex;
}

.googlemapsResponsive {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
}
.googlemapsResponsive iframe {
  left: 0.5%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*COMPRAS*/
/*********/
.comprasimg {
  align-content: center;
  padding: 25px 150px 25px 150px;
}

.card-img-top {
  width: 20%;
  height: auto;
}

.cardProducto {
  text-align: center;
  align-items: center;
  margin-top: 3%;
}

.carritoCompras {
  color: rgb(223, 224, 226);
  scale: 80%;
  padding: 0;
  margin: 0;
}
.carritoCompras:hover {
  color: rgb(223, 224, 226);
}

.footerCompras {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.card-title {
  color: rgb(48, 47, 47);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

input {
  font-family: "Roboto", sans-serif;
}

/*NUESTRA CLINICA*/
/*****************/
.carouselclinica {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-left: 25%;
}

.parrafoNuestra {
  color: rgb(170, 165, 165);
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: large;
}

h2 {
  color: grey;
  font-family: "Roboto", sans-serif;
  margin-left: 35px;
  font-variant: small-caps;
  font-size: 25px;
}

.cardPersonas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.equipodetrabajo {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

.fotonombre {
  display: flex;
}

.nuestraclinicah3 {
  text-align: center;
  margin-left: 200px;
}

.nuestraclinicah2 {
  margin-bottom: 10px;
}

.taniachowchow {
  border-radius: 7px;
  scale: 150%;
}

.pilarbulldog {
  border-radius: 7px;
  scale: 150%;
}

/* GALERIA DE FOTOS*/
/*******************/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgb(88, 88, 88);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgb(231, 229, 229);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgb(170, 165, 165);
  border-left: 3px solid rgb(170, 165, 165);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgb(170, 165, 165);
  border-right: 3px solid rgb(170, 165, 165);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h2 {
  font-size: 20px;
  color: rgb(56, 55, 55);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgb(134, 134, 134);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 0.8;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
  height: auto;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  border: 1px solid rgb(134, 134, 134);
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(56, 56, 56);
}

.enunciadoFotos {
  font-family: "Roboto", sans-serif;
  color: rgb(134, 134, 134);
  font-size: larger;
}

/* SERVICIOS*/
/************/
.servicios {
  margin-left: 3%;
  margin-right: 3%;
  color: rgb(78, 78, 78);
  font-family: "Roboto", sans-serif;
  font-size: 120%;
}

.serviciosH2 {
  font-weight: bolder;
  margin-top: 1%;
}

.rx {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.eco {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.analisis {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.guarderia {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.textoServicios {
  font-size: 95%;
  margin: 1% 5% 2% 5%;
  text-align: justify;
}

.agendarCita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconosServicios {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin: 1%;
}

.iconosServicios:hover {
  cursor: pointer;
  filter: grayscale(80%);
  transition: all 0.5s;
}

.todosServicios {
  margin-left: 10%;
  align-items: center;
  margin-bottom: 5%;
}

.contenedorImagen {
  position: relative;
  display: inline-block;
}

.h2Servicios {
  color: rgb(56, 55, 55);
  font-family: "Roboto", sans-serif;
  font-size: 150%;
}

.contenedorServicios {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
  color: rgb(134, 134, 134);
  padding: 2%;
}

.contenedorImagen:hover .contenedorServicios {
  display: block;
}
.contenedorImagen:hover .contenedorServicios2 {
  display: block;
}

.contenedorServicios2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -65%);
  color: rgb(134, 134, 134);
  padding: 2%;
}

.fa-arrow-up {
  font-size: 95%;
  padding: 19%;
}

/*CONTACTO*/
/**********/
.form {
  font-size: large;
}

.formh1 {
  text-align: center;
  margin-top: 2%;
}

.form-control {
  background-color: rgb(231, 229, 229);
}

.btn {
  background-color: rgb(56, 56, 56);
  border: none;
  color: white;
}
.btn:hover {
  background-color: rgb(3, 3, 3);
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.btn:active {
  transform: translateY(3px);
}

.control:focus {
  height: 60px;
  font-size: large;
}

#h2form {
  text-align: center;
}

/*BLOG*/
/******/
.imagenBlog {
  width: 100%;
  height: auto;
}

.contenedorBlog {
  border: none;
}

.segundoBloque {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
