/*BLOG*/
/******/
.imagenBlog {
    width: 100%;
    height: auto;
}

.contenedorBlog {
    border: none;
}

.segundoBloque {
    display: flex;
    justify-content: center;
}

.tituloBlog{
    margin: 0% 0% 0% 5%;
    font-family: $font-family_1;
}

.lead {
    text-align: justify;
}