#generalKanus {
	width: 100%;
	height: 90vh;
	background: url("../img/rodesian--verde.jpg") top center;
	background-size: cover;
	margin-bottom: -10px;
}

.container {
	position: relative;
	margin: 0% 2% 0% 2%;
}

.tituloKanus {
	padding: 15% 0% 0.3% 0%;
	font-size: 3.2vw;
	font-weight: 700;
	line-height: 1.2;
	color: $color_2;
	font-family: $font-family_1;
}

.mensajeKanus {
	color: $color_11;
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
	font-size: 3.2vw;
	font-family: $font-family_1;
}

.parrafoIntro {
	color: $color_11;
	font-family: $font-family_1;
	text-align: justify;
	margin: 2% 50% 3% 3%;
	padding-bottom: 3%;
	font-size: 1.5vw;
}

@media (min-width: 1024px) {
	#generalKanus {
		background-attachment: fixed;
	}
}
/*TABLET*/
/*********/

@media (min-width: 766px) and (max-width: 1024px) {
	#generalKanus {
		width: 100%;
		height: 90vh;
		background: url("../img/rodesian--verde--parado-tablet.jpg") top center;
		background-size: cover;
		margin-bottom: -10px;
	}
	.tituloKanus {
		padding: 15% 0% 0.3% 0%;
		font-size: 280%;
		font-weight: 700;
		line-height: 1.2;
		color: $color_2;
		font-family: $font-family_1;
	}
	
	.mensajeKanus {
		color: $color_11;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		font-size: 230%;
		font-family: $font-family_1;
	}
	
	.parrafoIntro {
		color: $color_11;
		font-family: $font-family_1;
		text-align: justify;
		margin: 2% 15% 3% 3%;
		padding-bottom: 3%;
		font-size: 170%;
	}
}

/*SMARTPHONE*/
/***********/
@media (max-width: 575px) {
	#generalKanus {
		height: 100%;
		width: auto;
		background: url("../img/rodesian--verde--parado.jpg") top center;
		background-size: cover;
		margin-bottom: -15px;
	}

	.tituloKanus {
		padding: 2% 0% 0% 0%;
		font-size: 150%;
		font-weight: 700;
		line-height: 1.2;
		color: $color_2;
		font-family: $font-family_1;
	}

	.mensajeKanus {
		color: $color_11;
		padding: 0% 0% 80% 0%;
		margin: 0% 0% 0% 0%;
		font-size: 125%;
		font-family: $font-family_1;
	}

	.parrafoIntro {
		display: none;
	}
}

.introPhone {
	display: none;
}

@media only screen and (max-width: 575px) {
	.introPhone {
		display: block;
		color: $color_11;
		font-family: $font-family_1;
		text-align: justify;
		padding: 10% 4% 2% 4%;
		font-size: 80%;
	}
}
.fa-brands {
	font-size: 65px;
	--ionicon-stroke-width: 35px;
	color: $color_6;
}
.buttonWhatsApp {
    width: 70px;
    position: fixed;
    bottom: 60px;
    right: 15px;

}