/*NUESTRA CLINICA*/
/*****************/

@mixin fotosIntegrantes {
    border-radius: 7px;
    scale: 100%;
}

.nuestraClinica {
    color: $color_11;
    margin: 2% 0% 0% 5%;
    font-family: $font-family_1;
}

h2 {
    color: $color_11;
    font-family: $font-family_1;
    font-variant: small-caps;
}

.textoClinica {
    font-size: larger;
    color: $color_1;
    text-align: justify;
    line-height: 1.6;
}

.cardPersonas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.equipodetrabajo {
    color: $color_5;
    font-family: $font-family_1;
    font-variant: small-caps;
    font-size: 20px;
}

.fotonombre {
    display: flex;
}

.nuestraclinicah2 {
    margin-bottom: 10px;
}

.taniachowchow {
    @include fotosIntegrantes
}

.pilarbulldog {
    @include fotosIntegrantes
}

.textoClinicaPhone {
    color: $color_5;
    font-family: $font-family_1;
    font-variant: small-caps;
    font-size: 100%;
}

@media (max-width: 766px) {
    .textoClinica {
        display: none;
    }

    .textoEquipo {
        font-family: $font-family_1;
        color: $color_1;
        text-align: justify;
        font-size: 100%;
        margin: 3% 3% 5% 2%;
    }
    .tituloEquipo {
        margin: 5% 0% 3% 3%;
        font-size: 100%;
    }
    .tituloFotos {
        margin-top: 9%;
        font-family: $font-family_1;
        color: $color_13;
        font-size: 100%;
        margin-bottom: 5%;
    }
    .enunciadoFotos {
        font-family: $font-family_1;
        color: $color_1;
        font-size: 100%;
        margin: 1% 0% 1% 0%;
        text-align: justify;
    }
    .contenedorEquipo {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
}

@media (min-width: 766px) and (max-width: 1024px) {
    .textoClinica {
        font-size: 125%;
        color: $color_1;
        text-align: justify;
        line-height: 1.5;
    }

    .imagenClinica {
        content: url(../img/kanus--frente--tablet.jpg)
    }

    .imagenClinica2 {
        content: url(../img/kanus--frente--2---tablet.jpg)
    }
    .tituloFotos {
        margin-top: 7%;
        font-family: $font-family_1;
        color: $color_13;
        font-size: 180%;
        margin-bottom: 5%;
    }
    .enunciadoFotos {
        font-family: $font-family_1;
        color: $color_1;
        font-size: 150%;
        margin: 2% 0% 2% 0%;
        text-align: justify;
    }

    .tituloEquipo {
        margin: 2% 0% 3% 7%;
        font-size: 180%;
    }

    .textoEquipo {
        font-family: $font-family_1;
        color: $color_1;
        text-align: justify;
        font-size: 150%;
        margin: 2% 0% 2% 7%;
    }
    .contenedorEquipo {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        margin-left: 15%;
    }
}

@media (min-width: 767px) {
    .textoClinicaPhone {
        display: none;
    }
}

/* GALERIA DE FOTOS*/
/*******************/

.galeriaFotos {
    .galeriaFotos-item {
        margin-bottom: 3%;
    }

    .galeriaFotos-wrap {
        transition: 0.3s;
        position: relative;
        z-index: 1;
        background: $background-color_1;

        &::before {
            content: "";
            background: $background-color_4;
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            opacity: 0;
        }

        .galeriaFotos-info {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::before {
                display: block;
                content: "";
                width: 48px;
                height: 48px;
                position: absolute;
                top: 35px;
                left: 35px;
                border-top: 3px solid $color_7;
                border-left: 3px solid $color_7;
                transition: all 0.5s ease 0s;
                z-index: 9994;
            }

            &::after {
                display: block;
                content: "";
                width: 48px;
                height: 48px;
                position: absolute;
                bottom: 35px;
                right: 35px;
                border-bottom: 3px solid $color_7;
                border-right: 3px solid $color_7;
                transition: all 0.5s ease 0s;
                z-index: 9994;
            }

            h2 {
                font-size: 2%;
                color: $color_11;
                font-weight: 600;
                font-family: $font-family_1;
            }

            p {
                color: $color_1;
                font-size: 14px;
                text-transform: uppercase;
                margin: 0;
                font-family: $font-family_1;
            }
        }

        &:hover {
            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.8;
            }

            .galeriaFotos-info {
                opacity: 0.8;

                &::before {
                    top: 15px;
                    left: 15px;
                }

                &::after {
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
    }

    .galeriaFotos-details {
        padding-top: 40px;

        .galeriaFotos-details-slider {
            img {
                width: 100%;
                height: auto;
            }

            .swiper-pagination {
                margin-top: 20px;
                position: relative;

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    background-color: $background-color_1;
                    opacity: 1;
                    border: 1px solid $color_1;
                }

                .swiper-pagination-bullet-active {
                    background-color: $background-color_2;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .enunciadoFotos {
        font-family: $font-family_1;
        color: $color_1;
        font-size: larger;
        margin: 2% 0% 2% 0%;
    }

    .tituloFotos {
        margin-top: 7%;
        font-family: $font-family_1;
        color: $color_13;
        font-size: 110%;
        margin-bottom: 5%;
    }
}

/*NUESTRO EQUIPO DE TRABAJO */
/****************************/


@media (min-width: 1024px) {
    .textoEquipo {
        font-family: $font-family_1;
        color: $color_1;
        text-align: justify;
        font-size: large;
        margin: 2% 3% 3% 1%;
    }

    .tituloEquipo {
        margin: 2% 1% 3% 7%;
        font-size: 110%;
    }
}

.services .img {
    border-radius: 8px;
    overflow: hidden;
}

.services .img img {
    transition: 0.6s;
}
@media (min-width: 1024px) {
    .contenedorEquipo {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        margin-left: 10%;
    }
}

.services .details {
    padding: 20px 30px;
    margin: -40px 30px 0 30px;
    background: $color_3;
    position: relative;
    background: $color_3;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px $color_11;
}

.services .details h3 {
    color: $color_5;
    font-weight: bolder;
    font-family: $font-family_1;
    margin: 1px 0 1px 0;
    font-size: 115%;
}

.services .details p {
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
    color: $color_11;
    font-family: $font-family_1;
}

.services .service-item:hover .details h3 {
    color: $color_2;
}

.services .service-item:hover .details i {
    color: $color_2;
}

.services .service-item:hover .img img {
    transform: scale(1.1);
}