/* SERVICIOS*/
/************/
@mixin imagenesServicio {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.servicios {
    margin-left: 3%;
    margin-right: 3%;
    color: $color_11;
    font-family: $font-family_1;
    font-size: 120%;
}

.serviciosH2 {
    font-weight: bolder;
    margin-top: 1%;
}

.rx {
    @include imagenesServicio;
}

.eco {
    @include imagenesServicio;
}

.analisis {
    @include imagenesServicio;
}

.guarderia {
    @include imagenesServicio;
}

.textoServicios {
    font-size: 95%;
    margin: 1% 5% 2% 5%;
    text-align: justify;
}

.agendarCita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconosServicios {
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin: 1%;
}

.iconosServicios:hover {
    cursor: pointer;
    filter: grayscale(80%);
    transition: all 0.5s;
}

.todosServicios {
    margin-left: 10%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedorImagen {
    position: relative;
    display: inline-block;
}

.h2Servicios {
    color: $color_2;
    font-family:$font-family_1;
    font-size: 150%;
}

.contenedorServicios {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    color: $color_2;
    padding: 2%;
}

.contenedorImagen:hover .contenedorServicios {
    display: block;
}

.contenedorServicios2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -65%);
    color: $color_2;
    padding: 2%;
}

.contenedorImagen:hover .contenedorServicios2 {
    display: block;
}
.fa-arrow-up {
    font-size: 95%;
    padding: 19%;
}
