/* SERVICIOS*/
/************/
@mixin imagenesServicio {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.servicios {
    margin-left: 3%;
    margin-right: 3%;
    color: $color_11;
    font-family: $font-family_1;
    font-size: 120%;
}

.serviciosH2 {
    font-weight: bolder;
    margin-top: 1%;
}

.rx {
    @include imagenesServicio;
}

.eco {
    @include imagenesServicio;
}

.analisis {
    @include imagenesServicio;
}

.guarderia {
    @include imagenesServicio;
}

.textoServicios {
    font-size: 95%;
    margin: 1% 5% 1% 5%;
}