/*CONTACTO*/
/**********/
.form {
    font-size: large;
}

.formh1 {
    text-align: center;
    margin-top: 2%;
}

.form-control {
    background-color: $background-color_4;
}

.btn {
    background-color: $background-color_5;
    border: none;

    &:hover {
        background-color: $background-color_6;
    }
}

#h2form {
    text-align: center;
}