$color_1: rgb(134, 134, 134);
$color_2: rgb(56, 55, 55);
$color_3: rgb(247, 246, 246);
$color_4: rgb(255, 255, 255);
$color_5: grey;
$color_6: rgb(168, 235, 81);
$color_7: rgb(170, 165, 165);
$color_8: rgb(177, 174, 174);
$color_9: rgb(224, 224, 224);
$color_10: rgb(247, 244, 244);
$color_11: rgb(78, 78, 78);
$color_12: rgb(223, 224, 226);
$color_13: rgb(48, 47, 47);
$font-family_1: 'Roboto', sans-serif;
$background-color_1: rgb(255, 255, 255);
$background-color_2: rgb(56, 56, 56);
$background-color_3: rgb(44, 44, 44);
$background-color_4: rgb(231, 229, 229);
$background-color_5: rgb(88, 88, 88);
$background-color_6: rgb(3, 3, 3);